<app-header></app-header>

<ion-content class="ion-display-flex ion-flex-col ion-justify-content-center">

  <ion-grid>
    <ion-row class="ion-justify-content-center">

      <!-- CONTENEDOR CONTROLADO POR ION-COL -->
      <ion-col size="12" sizeLg="6" class="grid-wrapper">

        <div class="button-grid">
          <ion-button expand="block">A</ion-button>
          <ion-button expand="block">B</ion-button>
          <ion-button expand="block">C</ion-button>
          <ion-button expand="block">D</ion-button>
        </div>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>