<app-header></app-header>

<ion-content class="fondo-bg-soft ion-display-flex ion-flex-col ion-justify-content-center">

  <div class="button-grid">
    <ion-button class="fondo-azul texto-naranja" routerLink="/panel-vehiculos-cliente" expand="block">
      <ion-icon name="car-sport-outline"></ion-icon> Mis vehículos</ion-button>
    <ion-button class="fondo-azul texto-naranja" (click)="abrirReparacion()" expand="block">
      <ion-icon name="construct-outline"></ion-icon> Solicitar reparación</ion-button>
    <ion-button class="fondo-azul texto-naranja" (click)="abrirRegistroVehicular()" expand="block">
      <ion-icon name="clipboard-outline"></ion-icon> Registrar vehículo</ion-button>
    <ion-button class="fondo-azul texto-naranja" routerLink="/panel-reparaciones-cliente" expand="block">
      <ion-icon name="build-outline"></ion-icon> Seguir reparaciones</ion-button>
  </div>

</ion-content>