<div class="lista-servicios">

  <div class="lista-header">
    <div class="col unidades">Unid.</div>
    <div class="col nombre">Nombre</div>
    <div class="col detalle">Detalle</div>
    <div class="col precio">Precio</div>
    @if(this.isEdicion){
    <div class="col estado">Estado</div>
    }
  </div>

  @for(item of listadoArreglos; track $index){

    <div class="fila">

      <div class="col unidades">
        <ion-input
          type="number"
          placeholder="Ej: 0"
          [(ngModel)]="item.cantidad"
          (ionInput)="calcularTotal()">
        </ion-input>
      </div>

      <div class="col nombre">
        <ion-textarea
          placeholder="Ej: Problema del chásis"
          [(ngModel)]="item.nombre">
        </ion-textarea>
      </div>

      <div class="col detalle">
        <ion-textarea
          placeholder="Ej: Abolladura visible en la parte inferior de la puerta."
          [(ngModel)]="item.problema">
        ></ion-textarea>
      </div>

      <div class="col precio">
        <ion-input
          type="number"
          placeholder="Ej: 25000"
          [(ngModel)]="item.costo"
          (ionInput)="calcularTotal()">
          <ion-label slot="start">$</ion-label>
        </ion-input>
      </div>
      @if(this.isEdicion){
        <div class="col estado">
          <ion-checkbox
            class="checkbox-estado"
            [(ngModel)]="item.estado"
            (ionChange)="toggleEstado(item, $event.detail.checked)">
          </ion-checkbox>
        </div>
      }


    </div>

  }

  <div class="agregar-container">
    <ion-button color="success" (click)="agregar()" shape="round">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </div>

</div>