<div class="gm-select-wrapper">

  <div class="gm-select" (click)="abrirModal()" [class.disabled]="deshabilitar">

    <label class="gm-label">
      {{ label() }}
    </label>

    @if(control().value){
      <span>
        {{ obtenerTextoSeleccionado() }}
      </span>
    } @else {
      <span class="placeholder">
        {{ placeholder() }}
      </span>
    }

  </div>

  @if (control().invalid && control().touched) {
    <div class="validators small mt-1">
      No válido.<br />
      {{ mensajeValidacion() | titlecase }}
    </div>
  }

</div>