<div class="form-group">

  @if (tipo === 'textarea') {

    <ion-textarea
      autoGrow="true"
      class="ion-text-center"
      [formControl]="formControl"
      (ionInput)="limitarLongitud($event)"
      placeholder="{{placeholder | titlecase}}"
      [disabled]="this.deshabilitado">
    </ion-textarea>

  } @else {

    <ion-input
      [type]="tipo"
      class="ion-text-center"
      [disabled]="this.deshabilitado"
      [formControl]="formControl"
      (ionInput)="limitarLongitud($event)"
      placeholder="{{placeholder | titlecase}}">
    </ion-input>

  }
  
@if (tipo === 'number' && maxLength != null) {
  <div class="contador">
    {{ contador }}
  </div>
}

@if (form.get(control!)?.invalid && form.get(control!)?.touched) {
  <div class="validators small mt-1">
    No válido.<br />
    {{ mensajeValidacion | titlecase }}
  </div>
}

</div>