<div class="form-group">

  @if (tipo === 'textarea') {

    <ion-textarea
      autoGrow="true"
      [formControl]="formControl"
      (ionInput)="limitarLongitud($event)"
      placeholder="{{placeholder}}">
    </ion-textarea>

  } @else {

    <ion-input
      [type]="tipo"
      [formControl]="formControl"
      (ionInput)="limitarLongitud($event)"
      placeholder="{{placeholder}}">
    </ion-input>

  }

@if(this.formControl.touched && this.tipo !== 'textarea'){
  <ion-label class="form-label">
    {{ placeholder }}
  </ion-label>
}

@if (tipo === 'number' && maxLength != null) {
  <div class="contador">
    {{ contador }}
  </div>
}

@if (form.get(control!)?.invalid && form.get(control!)?.touched) {
  <div class="validators small mt-1">
    No válido.<br />
    {{ mensajeValidacion }}
  </div>
}

</div>