/* =========================
   PALETA GUZMAN MOTOS
========================= */

$gm-bg: #E6EEF5;
$gm-bg-soft: #D6E3EC;

$gm-principal: #1F3A5F;
$gm-acento: #5FA8D3;

$gm-azul: #0B3C6F;
$gm-azul-claro: #1F5FA8;

$gm-verde: #2AA198;

$gm-texto: #1E2A32;



/* =========================
   NARANJAS MECÁNICA
========================= */

$gm-naranja: #F08C3A;
$gm-naranja-soft: #F6A960;
$gm-naranja-hover: #D9772A;
$gm-naranja-strong: #E66A00;
$gm-naranja-light: #FFD2A8;


/* =========================
   COLORES EXTRA UI
========================= */

$gm-rojo: #C62828;
$gm-gris-card: #2F2F2F;
$gm-borde: #FF9E3D;
//? Comentario para seccionar los componentes:

  //! ======================= Variables y servicios =======================
  //~ ======================= Servicios 
  //~ ======================= Propiedades

  //~ ======================= Inicializadores

  //! ======================= Métodos =======================

  //~ ======================= Paginación

  //~ ======================= Lógicos
  /*

      const carga = await this.utilSvc.loading()
      await carga.present();
      await carga.dismiss();
  */