<app-header></app-header>

<ion-content>
    <div class="elementos-centrados">
      <img src="assets/guzmanLogo.png" class="logo-img" />
    </div>
    <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"
          >¡Bienvenido!</ion-card-title
        >
      </ion-card-header>
      <ion-card-content class="ion-text-center botones-card">
        <ion-button expand="block" (click)="irUsuario()"> Ingresar </ion-button>
        <ion-button expand="block" (click)="irRegistro()"> Registrarse </ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
