<ion-col>

  <!------------- BOTON FLOTANTE ------------->
  
 <div class="top-bar">

  <!------------- BOTON ADD ------------->  
  <div class="btn-add">
    <ion-button (click)="abrirFormularioNuevo()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>

  <!------------- PAGINACIÓN ------------->  
  @if(this.paginatedItems.length >= 1){
    <div class="pagination">
    
      <ion-button class="btn-paginacion" shape="round"
      (click)="prevPage()" [disabled]="page() === 1">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    
      <span>{{ page() }} de {{ totalPages() }}</span>
    
      <ion-button shape="round" class="btn-paginacion"
      (click)="nextPage()" [disabled]="page() === totalPages()">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    
    </div>
  }

</div>
<!------------- CONTENIDO ------------->

@if (paginatedItems.length === 0) {
  
  <div class="empty-state">
    
    <ion-icon name="construct-outline"></ion-icon>

    <h2>No hay vehículos todavía</h2>
    
    <p>
      Cuando los clientes ingresen vehículos aparecerán aquí.
    </p>

  </div>
  
} @else {

  <div 
    class="cards-container"
    [class.one]="paginatedItems.length === 1"
    [class.two]="paginatedItems.length === 2"
    [class.three]="paginatedItems.length >= 3"
  >

    @for (item of paginatedItems; track item.id) {
      
      <ion-card>

        <ion-card-header>
          <ion-card-title class="ion-text-center texto-acento"><strong> {{ item.modelo }} ─ {{item.nombrePropietario}}</strong></ion-card-title>
        </ion-card-header>

        <ion-card-content>
             <div class="contenedor-40vh recorte-vertical ion-display-flex ion-flex-column ion-justify-content-center ion-align-items-center">
            @if(item.imagenes?.length === 0){
              <ion-row>
                <ion-icon name="cloud-offline-outline" style="font-size: 3.5rem; margin-bottom: 0.8rem;"></ion-icon>
  
              </ion-row>
              <ion-text class="ion-text-center texto-naranja-light"><strong>No hay imágenes asociadas aún.</strong> </ion-text>
            } @else{
              <app-lgs-carrusel
                [imagenes]="item.imagenes ?? []"
                [editable]="false"
              ></app-lgs-carrusel>
            }
          </div>

          
          <div class="card-estado">
            Patente: <strong>{{ item.patente }}</strong>
          </div>
          
          <div class="card-buttons">
            
            <ion-button color="warning" (click)="abrirFormularioEdicion(item)">
              <ion-icon slot="start" name="build-outline"></ion-icon>
              Editar
            </ion-button>
            
            <!-- <ion-button color="primary" (click)="verDetalles(item)">
              <ion-icon slot="start" name="aperture-outline"></ion-icon>
              Botón sin uso
            </ion-button> -->
            
          </div>
          
          <ion-button color="danger" expand="block" (click)="eliminar(item)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Eliminar
          </ion-button>

        </ion-card-content>
        
      </ion-card>
      
    }
    
  </div>

}



</ion-col>