<ion-col>

  <!------------- BOTON FLOTANTE ------------->
  


<!------------- SWITCH ESTADOS ------------->

<div class="estado-switch">
  
  <ion-segment value="solicitudes">

    <ion-segment-button (click)="modificarFiltro('solicitado')"  value="solicitudes">
      <ion-label>Solicitudes</ion-label>
    </ion-segment-button>

    <ion-segment-button (click)="modificarFiltro('en proceso')"  value="proceso">
      <ion-label>En proceso</ion-label>
    </ion-segment-button>
    
    <ion-segment-button (click)="modificarFiltro('completado')"  value="completados">
      <ion-label>Completados</ion-label>
    </ion-segment-button>

  </ion-segment>
  
</div>



<!------------- CONTENIDO ------------->

@if (paginatedItems.length === 0) {
  
  <div class="empty-state ion-margin-top ion-margin-bottom">
  <div class="btn-add-floating">
    <ion-button (click)="abrirFormularioNuevo()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
    <ion-icon name="construct-outline"></ion-icon>

    <h2>No hay reparaciones todavía todavía</h2>
    @if(rolActual() === 'dueño'){
      <p>
        Cuando los clientes soliciten trabajos aparecerán aquí.
      </p>
    }
      
  </div>
  
} @else {
    <div class="btn-add-floating">
    <ion-button (click)="abrirFormularioNuevo()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
  <div 
  class="cards-container"
  [class.one]="paginatedItems.length === 1"
  [class.two]="paginatedItems.length === 2"
  [class.three]="paginatedItems.length >= 3"
  >

    @for (item of paginatedItems; track item.id) {
      
      <ion-card>

        <ion-card-header>
          <ion-card-title class="ion-text-center">{{ item.vehiculo?.modelo }}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <div class="contenedor-20vh recorte-vertical ion-display-flex ion-flex-column ion-justify-content-center ion-align-items-center">
          @if(item.imagenes?.length === 0){
            <ion-row>
              <ion-icon name="cloud-offline-outline" style="font-size: 3.5rem; margin-bottom: 0.8rem;"></ion-icon>

            </ion-row>
            <ion-text class="ion-text-center texto-naranja-light"><strong>No hay imágenes asociadas aún.</strong> </ion-text>
          } @else{
            <app-lgs-carrusel
              [imagenes]="item.imagenes ?? []"
              [editable]="false"
            ></app-lgs-carrusel>
          }
          </div>

          <div class="card-estado">
            Ingreso: <strong>{{ item.ingreso | formatoFecha}}</strong>
          </div>
          
         
            <div class="card-estado">Estado: <strong>{{item.estado | titlecase}}</strong></div>
          
          
            <ion-buttons class="card-buttons">

            <div class="top-buttons">
              @if(rolActual() === 'cliente' && item.estado != 'solicitado'){
                <ion-button color="primary" fill="outline" (click)="verDetalles(item)">
                  <ion-icon slot="start" name="aperture-outline"></ion-icon>
                    Ver detalles
                </ion-button>
              }

              @if(rolActual() === 'dueño'){

                @if(item.estado === 'en proceso'){
                  <ion-button color="primary" fill="outline" (click)="verDetalles(item)">
                    <ion-icon slot="start" name="aperture-outline"></ion-icon>
                    Actualizar
                  </ion-button>
                }

                @if(item.estado === 'completado'){
                  <ion-button color="danger" fill="solid" (click)="modificarTrabajo(item)">
                    <ion-icon slot="start" name="trash-outline"></ion-icon>
                    Eliminar Registro
                  </ion-button>
                }

              }

              <ion-button color="success" size="small" fill="outline" [href]="enviarMensajeWhatapp(item)">
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-button>

            </div>

            @if(rolActual() == 'dueño'){

              @if(item.estado === 'solicitado'){
                <ion-button class="bottom-button" color="tertiary" fill="solid" (click)="modificarTrabajo(item)">
                  <ion-icon slot="start" name="caret-up-outline"></ion-icon>
                  Aceptar Solicitud
                </ion-button>
              }
              @if(item.estado === 'en proceso'){
                <ion-button class="bottom-button" color="success" fill="solid" (click)="modificarTrabajo(item)">
                  <ion-icon slot="start" name="bag-check-outline"></ion-icon>
                  Completar
                </ion-button>
              }

            }
            @if(item.estado === 'completado' || item.estado === 'en proceso' && item.arreglos?.length != 0){
              <ion-button class="bottom-button" color="warning" fill="solid" (click)="modificarTrabajo(item, true)">
                <ion-icon slot="start" name="download-outline"></ion-icon>
                Descargar PDF
              </ion-button>

            }

          </ion-buttons>

        </ion-card-content>
      </ion-card>
      
    }
    
  </div>

}



<!------------- PAGINACIÓN ------------->

<div class="pagination">

  <ion-button class="btn-paginacion" shape="round"
  (click)="prevPage()" [disabled]="page() === 1">
    <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
  </ion-button>

  <span>{{ page() }} de {{ totalPages() }}</span>

  <ion-button class="btn-paginacion" shape="round"
  (click)="nextPage()" [disabled]="page() === totalPages()">
    <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
  </ion-button>

</div>
</ion-col>