@use 'src/theme/variables.scss' as *;

/* ======================
   CONTENEDOR GENERAL
====================== */

ion-col{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
}


/* ======================
   CONTENEDOR DE CARDS
====================== */

.cards-container{
  display:grid;
  position: relative;
  grid-template-columns:1fr;
  gap:2rem;
  padding:1rem;
  width:100%;
  max-height:90vh;
  overflow-y:auto;
  justify-content:center;
  justify-items:center;
}


/* ======================
   CENTRADO SEGÚN CANTIDAD
====================== */

.cards-container.one{
  grid-template-columns:1fr;
}

.cards-container.two{
  grid-template-columns:repeat(2, minmax(0,22rem));
}

.cards-container.three{
  grid-template-columns:repeat(3, minmax(0,22rem));
}


/* ======================
   ADAPTACIÓN WEB
====================== */

@media (min-width:768px){

  .cards-container{
    grid-template-columns:repeat(3, minmax(0,22rem));
    justify-content:center;
  }

}


/* ======================
   CARD
====================== */

ion-card{

  width:100%;
  max-width:22rem;

  border-radius:1.2rem;
  border:4px solid $gm-naranja;

  background:$gm-gris-card;
  color:white;

  transition:transform .2s ease, box-shadow .2s ease;

  &:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 25px rgba(0,0,0,.35);
  }

}


/* ======================
   FOTO
====================== */

.card-foto{

  display:flex;
  justify-content:center;
  align-items:center;

  margin-bottom:1rem;

  img{
    max-width:160px;
    max-height:160px;
    border-radius:50%;
  }

}


/* ======================
   ESTADO
====================== */

.card-estado{

  text-align:center;
  font-weight:600;
  color:$gm-naranja-soft;

  font-size:1.1rem;
  margin-bottom:.6rem;

  strong{
    color: $gm-acento;
  }
}



/* ======================
   BOTONES CARD
====================== */

.card-buttons{

  display:flex;
  flex-direction: column;
  gap:.6rem;
  margin-top:1rem;
  
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: stretch;
  
  ion-button{
    flex:1;
    font-size:.9rem;
  }

}


/* ======================
   PAGINACIÓN
====================== */

.pagination{

  display:flex;
  align-items:center;
  justify-content:center;


  padding:.6rem 1rem;

  border-radius:.5rem;

  background:$gm-naranja-soft;

}


.btn-paginacion{

  --background:#{$gm-azul};
  --color:#{$gm-naranja};

  width:3rem;
  height:3rem;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:50%;

  transition:transform .15s ease;

  ion-icon{
    color:$gm-naranja;
    font-size:1.4rem;
  }

  &:hover{
    transform:scale(1.08);
  }

  &:disabled{
    opacity:.35;
  }

}


/* ======================
   BOTÓN FLOTANTE
====================== */

.btn-add-floating{

  position:absolute;

  top:2rem;
  left: 13rem;

  z-index:999;

  ion-button{

    --background:#{$gm-naranja};
    --border-radius:50%;

    width:56px;
    height:56px;

    ion-icon{
      font-size:1.8rem;
    }

  }

}


/* ======================
   SWITCH ESTADOS
====================== */

.estado-switch{
  display:flex;
  justify-content:center;

  ion-segment{
    width:90%;
    max-width:600px;
    --background:#{$gm-bg-soft};
    border-radius:1rem;
  }

  ion-segment-button{
    font-weight:600;
    color: $gm-naranja;

    &.segment-button-checked{
      background:$gm-naranja;
      color:$gm-azul;
    }
  }
}


/* ======================
   MENSAJE SIN TRABAJOS
====================== */

.empty-state{

  display:flex;
  flex-direction:column;

  align-items:center;
  justify-content:center;

  text-align:center;

  width:60vw;

  border-radius:1rem;

  background:$gm-naranja-light;

  padding:2rem;

  ion-icon{
    font-size:4rem;
    color:$gm-azul;
  }

  h2{
    font-size:1.5rem;
    color:$gm-principal !important;
    --color:$gm-principal !important;
  } :host{
    color:$gm-principal !important;
    --color:$gm-principal !important;
  }

  p{
    color:$gm-texto !important;
    --color: $gm-texto !important
  } :host{
    color:$gm-texto !important;
    --color: $gm-texto !important
    
  }

}

/* =========================================
   RESPONSIVE ≤700px
========================================= */

@media (max-width:1200px){
  .btn-add-floating{

    position:absolute;

    top:2rem;
    left: 0rem;
  }
}
@media (max-width:700px){
  
  .btn-add-floating{

    position:absolute;

    top:2rem;
    left: 0rem;
  }

  .cards-container{
    gap:1.4rem;
    padding:.6rem;
    max-height:85vh;
  }

  .cards-container.two{
    grid-template-columns:repeat(2, minmax(0,18rem));
  }

  .cards-container.three{
    grid-template-columns:repeat(2, minmax(0,18rem));
  }

  ion-card{
    max-width:18rem;
  }

  .card-foto{

    margin-bottom:.7rem;

    img{
      max-width:130px;
      max-height:130px;
    }

  }

  .card-estado{
    font-size:1rem;
  }

  .card-buttons{

    gap:.4rem;

    ion-button{
      font-size:.8rem;
    }

  }

}


/* =========================================
   RESPONSIVE ≤500px
========================================= */

@media (max-width:500px){
  .btn-add-floating{

    position:absolute;

    top:3.5rem;
    left: 0rem;
  }
  .cards-container{
    gap:1rem;
    padding:.4rem;
    max-height:82vh;
  }

  .cards-container.two,
  .cards-container.three{
    grid-template-columns:1fr;
  }

  ion-card{
    max-width:100%;
    border-width:3px;
  }

  .card-foto{

    margin-bottom:.5rem;

    img{
      max-width:100px;
      max-height:100px;
    }

  }

  .card-estado{
    font-size:.9rem;
    margin-bottom:.4rem;
  }

  .card-buttons{

    gap:.3rem;

    ion-button{
      font-size:.75rem;
    }

  }
}
