<form>
<br>
  <ion-text class="title ion-text-center">{{this.isEdicion ? 'Actualizar trabajo' : 'Agregar trabajo'}}</ion-text>
  <ion-grid class="flex">
<!--//! ================== Modelo vehículo ==================-->
    <ion-row>

        <ion-col>
          <app-lgs-desplegable
            label="Vehículo."
            placeholder="Seleccione un vehículo."
            [control]="form.controls.vehiculo"
            [opciones]="vehiculoSvc.listaVehiculos()"
            parametroValor="uid"
            parametroNombre="modelo"
            parametroAdicional="nombrePropietario"

          ></app-lgs-desplegable>
        </ion-col>  
          
        <ion-col class="ion-display-flex ion-justify-content-center fondo-principal" 
        style="margin-bottom: 1rem;
          margin-top: 0.25rem; border-radius: 0.8rem;">
          <ion-title class="ion-text-center texto-acento"> 
            Propietario: 
              <strong class="texto-naranja">{{vehiculoSeleccionado() ?? 'No seleccionado'}} </strong>
             </ion-title>
        </ion-col>  
      
    </ion-row>    
      
<!--//! ================== Observaciones ==================-->

      <app-lgs-input
        class="ion-text-center"
        control="observaciones"
        tipo="textarea"
        [form]="form"
        mensajeValidacion="Debe poseer al menos 3 caracteres"
        placeholder="Observaciones destacables."
        size="md"  
      ></app-lgs-input>

    <ion-row>
      <ion-col class="contenedor-20vh ion-justify-content-center ">
        <app-lgs-carrusel
          [imagenes]="imagenes()"
          [editable]="true"
          (imagenesChange)="imagenes.set($event)"
        ></app-lgs-carrusel>
      </ion-col>
    </ion-row>
<!--//! ================== Arreglos ==================-->
  <div class="zona-futura">
    <app-listado-arreglos 
      [listadoArreglos]="this.arreglos()"
      (totalChange)="presupuesto.set($event)"
      (listaArreglos)="arreglos.set($event)"

    ></app-listado-arreglos>
  </div>
  
<!--//! ================== Presupuesto ==================-->
  <div class="presupuesto-total">
    Presupuesto total: {{ presupuesto() | currency:'ARS':'symbol':'1.0-0' }}
  </div>
<!--//! ================== Botón de registro ==================-->
    <app-modal-footer class="submit"
      (cerrar)="cerrarModal()"
      (success)="registrar()" 
      successText="Registrar"
    ></app-modal-footer>
    
  </ion-grid>
</form>
