
<ion-content 
  class="fondo-gris-card ion-display-flex ion-justify-content-center ion-flex-col" [scrollY]="true">

  <form >
<br>
@if(this.usuarioSvc.usrActual()?.rol !== 'cliente'){
  <ion-title class="title ion-text-center">{{this.isEdicion ? 'Actualizar trabajo' : 'Agregar trabajo'}}</ion-title>
} @else{
  <ion-title class="title ion-text-center">Solicitar repación.</ion-title>
}
  <ion-grid class="flex">
<!--//! ================== Modelo vehículo ==================-->
    <ion-row class="ion-align-items-center">

        <ion-col>
          <app-lgs-desplegable
            label="Vehículo."
            placeholder="Seleccione un vehículo."
            [control]="form.controls.vehiculo"
            [opciones]="listaVehiculos()"
            placeholderBusqueda="por modelo."
            parametroValor="uid"
            parametroNombre="modelo"
            parametroAdicional="nombrePropietario"

          ></app-lgs-desplegable>
        </ion-col>  
          
       
      
    </ion-row>    
      
<!--//! ================== Observaciones ==================-->
    <ion-row class="">
       <ion-col class="ion-display-flex ion-justify-content-center fondo-principal" 
        style="margin-bottom: 1rem;
          margin-top: 0.25rem; border-radius: 0.8rem;">
          <ion-title class="ion-text-center texto-acento"> 
            Propietario: <br>
            @if(this.usuarioSvc.usrActual()?.rol === 'dueño'){
              <strong class="texto-naranja">{{vehiculoSeleccionado() ?? 'No seleccionado'}} </strong>
            } @else {
              <strong class="texto-naranja">{{vehiculoSeleccionado() ? 'Usted': 'No seleccionado'}} </strong>
            }
             </ion-title>
        </ion-col>  
        
    </ion-row>

    <ion-row class="">
      <ion-col >
        <app-lgs-input
          class="ion-text-center"
          control="observaciones"
          tipo="textarea"
          [form]="form"
          mensajeValidacion="Debe poseer al menos 3 caracteres"
          placeholder="Observaciones destacables."
          size="md"  
        ></app-lgs-input>
      </ion-col>
    </ion-row>
      
    <ion-row>
      <ion-col class="contenedor-41vh ion-justify-content-center ">
        <app-lgs-carrusel
          [imagenes]="imagenes()"
          [editable]="true"
          (imagenesChange)="imagenes.set($event)"
        ></app-lgs-carrusel>
      </ion-col>
    </ion-row>
<!--//! ================== Arreglos ==================-->
@if(usuarioSvc.usrActual()?.rol !== 'cliente'){
  <div class="zona-futura">
    <app-listado-arreglos 
      [listadoArreglos]="this.arreglos()"
      (totalChange)="presupuesto.set($event)"
      (listaArreglos)="arreglos.set($event)"

    ></app-listado-arreglos>
  </div>
  
  <!--//! ================== Presupuesto ==================-->
  <div class="presupuesto-total">
    Presupuesto total: {{ presupuesto() | currency:'ARS':'symbol':'1.0-0' }}
  </div>
  
}

  </ion-grid>

<!--//! ================== Botón de registro ==================-->
<div style=
  "position: fixed;
    right: 1rem;
    bottom: 6rem;
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem; 
    z-index: 10;
  ">
  @if(this.usuarioSvc.usrActual()?.rol === 'dueño'){

  <!-- SCROLL ARRIBA -->
  <ion-button
    shape="round"
    color="warning"
    fill="outline"
    size="small"
    (click)="irArriba()"
  >
    <ion-icon slot="icon-only" style="font-size: 2rem;" 
     name="chevron-up-outline"></ion-icon>
  </ion-button>

  <!-- SCROLL ABAJO -->
  <ion-button
    shape="round"
    color="warning"
    fill="outline"
    size="small"
    (click)="irAbajo()"
  >
    <ion-icon slot="icon-only" style="font-size: 2rem;" 
      name="chevron-down-outline"></ion-icon>
  </ion-button>
  }

</div>

</form>
</ion-content>
<ion-footer class="fondo-gris-card">
  <!--//! ================== Botón de registro ==================-->
  <app-modal-footer class="submit"
    (cerrar)="cerrarModal()"
    (success)="registrar()" 
    successText="Registrar"
  ></app-modal-footer>
</ion-footer>