<ion-content>
  <ion-grid class="pantalla">

    <!-- Nombre -->
    <ion-row class="fila-nombre ion-align-items-end">
      <ion-col>
        <h1 class="nombre">Guzman Motos</h1>
      </ion-col>
    </ion-row>

    <!-- Logo -->
    <ion-row class="fila-logo ion-align-items-center ion-justify-content-center">
      <ion-col class="ion-text-center">
        <img src="assets/guzmanLogo.png" class="logo-guzman"/>
      </ion-col>
    </ion-row>

    <!-- Créditos -->
    <ion-row class="fila-creditos ion-align-items-center ion-justify-content-center">
      <ion-col size="auto">
        <h6 class="division tracking-in-expand">
          LGS Sistemas
        </h6>
      </ion-col>

      <ion-col size="auto" class="marlogo-container">
        <img src="assets/Marlogo.png" class="marlogo"/>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>