@use 'src/theme/variables.scss' as *;

.full-width-segment {
  width: 100%;
  display: flex;
  border: none;
  --background: $gm-acento; /* fondo rojo Mjor */
  --indicator-color: $gm-naranja;
  --border-radius: 0;
  --box-shadow: none;
  padding: 0;
  margin: 0;
}

/* Cada botón */
.full-width-segment ion-segment-button {
  flex: 1 1 auto;
  justify-content: center;
  --background: $gm-acento;
  --background-checked: $gm-acento; /* rojo oscuro activo */
  --color: white;
  --color-checked: #ffffff;
  --border-radius: 0;
  --indicator-color: transparent;
  border-left: 0;
  border-top: 4px solid $gm-naranja-soft;
  border-bottom: 4px solid $gm-naranja-soft;
  padding: 0;
  min-height: 48px;
  font-weight: bold;
  font-size: 0.5rem;
  text-transform: uppercase;
}

/* ========================
   Ajuste crítico: ion-toolbar
   ======================== */
ion-toolbar.app-toolbar {
  --background: $gm-acento; /* rojo Mjor */
  padding: 0; /* elimina cualquier espacio que muestre fondo blanco */
}
