<div class="lista-servicios fondo-gris-card" [class.modo-edicion]="isEdicion">

  <div class="lista-header ion-text-center">
    <div class="col unidades">Unidades</div>
    <div class="col nombre">Nombre</div>
    <div class="col detalle">Detalle</div>
    <div class="col precio">Precio</div>
    <div class="col estado">Estado</div>
    @if(this.isEdicion && !esSoloVista){
    <div class="col-estado ion-display-flex ion-justify-content-start"> 
       ¿
      <ion-icon slot="" name="trash"></ion-icon>
      ? 
    </div>
  }
  </div>

  @for(group of arreglos.controls; let i = $index; track $index){
    <div [formGroup]="group" class="fila">

      <div class="col unidades">
        <ion-input 
          type="number" 
          formControlName="cantidad"
          placeholder="Ej: 10"
          [readonly]="i !== arreglos.length - 1 || esSoloVista || esSoloVista"
          (ionInput)="calcularTotal()">
        </ion-input>
      </div>

      <div class="col nombre">
        <ion-textarea 
          formControlName="nombre"
          placeholder="Ej: Abolladura en el chásis"
          [readonly]="i !== arreglos.length - 1 || esSoloVista">
        </ion-textarea>
      </div>

      <div class="col detalle">
        <ion-textarea 
          formControlName="problema"
          placeholder="Ej: Deformación en la carrosería producto de un impácto."
          [readonly]="i !== arreglos.length - 1 || esSoloVista">
        </ion-textarea>
      </div>

      <div class="col precio">
        @if(i === arreglos.length - 1){
          <!-- editable -->
          <ion-input 
            type="number" 
            formControlName="costo"
            [readonly]="esSoloVista"
            placeholder="20.000"
            (ionChange)="calcularTotal()">
            <ion-label slot="start">$</ion-label>
          </ion-input>
        } @else {
          <!-- solo lectura formateado -->
          <span>
            {{ group.value.costo | currency }}
          </span>
        }
      </div>

        <div class="col estado">
          <ion-checkbox  [disabled]="esSoloVista" [checked]="group.value.estado === 'completado'"
           (ionChange)="toggleEstado(group, $event.detail.checked)">
          </ion-checkbox>
        </div>

      @if(i !== arreglos.length - 1 && !esSoloVista){
        <div class="col eliminar ion-display-flex ion-justify-content-center ion-align-items-center">
          <ion-button 
            shape="round" 
            size="small" 
            color="danger"
            (click)="eliminar(i)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </div>
      }
    </div>
  }

  @if(!esSoloVista){
    <div class="agregar-container">
      <ion-button color="success" type="button" (click)="agregar()" shape="round">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  }

</div>